.h5 { 
    font-size: medium !important;
    color: rgb(251, 174, 146) !important;
}

.h1 {
    margin-bottom: 0;
}

.h3 {
    font-weight: 400 !important;
}

.button { 
    padding: 8px 20px;
    border-radius: 10px;
    background-color: rgb(255, 236, 202);
    color: orange;
    border: solid 0;
    
    text-transform: uppercase;
    font-weight: 400;
}

.button:hover {
    background-color: orange;
    color: white;
    font-weight: 500;
}

.col img { 
    max-width: 100%;
    height: 50vh;
}